@import "../../styles/theme";

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    color: $secondaryText;
    width: 80%;
    li{
        list-style-type: none;
        margin: 0 5px;
        a{
            cursor: pointer;
        }
    }
    .active {
        border: 1px solid $details;
        border-radius: 100%;;
        text-align: center;
        width: 22px;
        height: 22px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    .pagination{
        font-size: 18px;
        width: 90%;
    }
}


