/* Colors */

$background: #0A222D;
$backgroundTable: rgba(196, 196, 196, 0.5);
$secondaryBackgroundTable: rgba(10, 34, 45, 0.7);
$detailBackground: #fff;
$text: #00DFDD;
$secondaryText: #fff;
$detailText: #777777;
$details: #00DFDD;

