@import "../../styles/theme";

tr{
    td{
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
        color: $secondaryText;
        padding: 6px 0px 6px 7px;
        width: 20%;
        .table-episodes{
            text-decoration: underline;
            margin: 0px;
            cursor: pointer;
        }
    }
    .table-name-row{
        width: 30%;
    }
    .table-icon-container{
        text-align: right;
        padding-right: 15px;
        img{
            cursor: pointer;
            transition: all 0.5s;
            &:hover{
                opacity: 0.5;
                transform: scale(1.05);
            }
        }
    }
}

tbody tr:nth-child(odd){
    background-color: $secondaryBackgroundTable;
}