@import "../../styles/theme";

table{
    background-color: $backgroundTable;
    border-radius: 8px;
    width: 80%;
    padding: 20px 40px;
    border-spacing: 0;
    tr{
        th{
            font-size: 20px;
            font-weight: 400;
            color: $text;
            text-align: start;
            border-bottom:1px solid white;
            padding: 5px 0px 5px 7px;
        }
        .table-column{
            cursor: pointer;
        }
        td{
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 18px;
            line-height: 20px;
            color: $secondaryText;
            padding: 6px 0px 6px 7px;
        }
        .table-icon-container{
            text-align: right;
            padding-right: 15px;
            img{
                cursor: pointer;
                transition: all 0.5s;
                &:hover{
                    opacity: 0.5;
                    transform: scale(1.05);
                }
            }
        }
    }
    tbody tr:nth-child(odd){
        background-color: $secondaryBackgroundTable;
    }
}

.empty-table{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: $text;
    padding: 40px;
}

